.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
h1 {
  color: blue;
  font-size: large;
}
li {
  color: green;
  font-size: medium;
}
li:first-letter {
  text-transform: capitalize;
}